.vscode/
.idea/
.env
WindDocSync/sync.json
WindDocSync/.envsync
WindDocSync/pysync.log
WindDocSync/pysync.json
TelegramBot/doorbot.log
TelegramBot/mosquitto_esp-rfid_cmd_sub
TelegramBot/mosquitto_esp-rfid_send_sub
